.input-g {
  padding: 4px 5px;
  border: var(--color-grey-900) 1.5px solid;
  border-radius: var(--border-radius-md);
  color: var(--color-grey-700);
  background-color: var(--color-grey-0);
  font-size: 12px;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  outline: none;
  margin-left: 3px;
}
